
/*

selector {
  property: value;
  property: value;
}

*/



body {
  font-family: Arial, sans-serif;
color: #FFA69E

}

body {background-color: #AA4465}

h1
  {font-size:60px;
   color: #462255;
}

p.ex
{color: #FFA69E;
}
